body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.expand-content {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.collapse-content {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}